/* reset */
:root {
    --brand-color : #000000;
    --bg-color : #F9FE00;
    --pc-header-height: 151px;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

ul {
    list-style-type: none;
}

li {
    list-style-type: none;
}

a {
    text-decoration: none;
    color: #fff;
}

/* main-header */
#main-header{
    outline: 1px solid #fff;
    width: 100%;
    height: 100px;
    background: #000;
    z-index: 10;
    position: relative;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container {
    width: 100%;
    height: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.container img {
    padding-left: 40px;
}

#main-header .nav-bg {
    position: absolute;
    width: 54%;
    height: 200px;
    background: #fff;
    opacity: 0.6;
    top: 70px;
    display: none;
}

#main-header nav {
    width: 60%;
    height: 40px;
}

#main-header nav ul.gnb {
    width: 100%;
}

#main-header nav ul.gnb>li {
    width: 30%;
    float: left;
    position: relative;
}

#main-header nav ul.gnb>li>a {
    width: 100%;
    height: 100%;
    display: block;
    font-size: 28px;
}

#main-header nav ul.gnb>li:hover>a {
    color : #F9FE00;
}

#main-header nav ul.gnb>li>ul.sub {
    width: 100%;
    height: 151px;
    display: none;
}

#main-header nav ul.gnb>li>ul.sub>li {
    width: 100%;
    line-height: 50px;
    font-size: 20px;
}

#main-header nav ul.gnb>li>ul.sub>li>a {
    width: 100%;
    height: 100%;
    display: block;
    color: #000;
}

#main-header nav ul.gnb>li>ul.sub>li:hover>a {
    color: #F9FE00;
    font-weight: 600;
}


/* section01 */
#section01-impressionism {
    height: 982px;
    background-color: #000;
}

#section01-impressionism img{
    width: 100%;
    height: 982px;
}

.main-p{
    position: relative;
    display: flex;
    align-items: center;
}

.main-p p{
    position: absolute;
    align-items: center;
    justify-content: center;
    color: #000;
    font-size: 110px;
    padding-left: 100px;
}

.main-p span{
    color: #fff;
}

/* section02 */
#section02-impressionism{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 982px;
    background-color: #000;
}

.biographer img {
    padding-left: 40px;
    opacity: 0.7;
    transition: 1s;
  }
  
.biographer img:hover {
    opacity: 1;
    transform: scale(1.25);
  }

.first {
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
    font-size: 34px;
}

.biographer {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.biographer p{
    padding-top: 10px;
    color: #fff;
}

/* section03 */
#section03-impressionism{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    height: 982px;
    background-color: #000;
    outline: 1px solid #fff;
}

.last-artist img {
    padding-left: 40px;
    opacity: 0.7;
    transition: 1s;
  }
  
.last-artist img:hover {
    opacity: 1;
    transform: scale(1.25);
  }

.second {
    color: #fff;
    text-align: center;
    padding-bottom: 50px;
    font-size: 34px;
}

.last-artist p{
    padding-top: 10px;
    color: #fff;
}

.last-artist {
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

/* 마네,모네,고갱,쇠라 css */
#section01-Manet, #section01-Monet, #section01-Gauguin,#section01-Seurat{
    height: 982px;
    background-color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-manet, .main-monet, .main-gauguin, .main-seurat{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

.main-manet p, .main-monet p, .main-gauguin p, .main-seurat p{
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 19px;
}

.container-manet ,.container-monet, .container-gauguin,.container-seurat{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

#section01-Manet .col p , #section01-Monet .col p, #section01-Gauguin .col p, #section01-Seurat .col p{
    font-weight: 300;
    font-size: 26px;
    color: #fff;
    padding-right: 60px;
}

/* section02-manet */
#section02-Manet, #section02-Monet, #section02-Gauguin, #section02-Seurat{
    height: 982px;
    background-color: #000;
    outline: 1px solid #fff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-manet-1, .container-monet-1,.container-gauguin-1, .container-seurat-1{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.manet-1, .monet-1, .gauguin-1, .seurat-1{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    padding-bottom: 50px;
}

.manet-1 h1, .monet-1 h1 ,.gauguin-1 h1, .seurat-1 h1{
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}

.container-manet-1 p, .container-monet-1 p ,.container-gauguin-1 p, .container-seurat-1 p{
    color: #fff;
    font-weight: 300;
    font-size: 26px;
    padding-left: 60px;
}

/* section03-manet */
#section03-Manet ,#section03-Monet, #section03-Gauguin, #section03-Seurat{
    height: 982px;
    background-color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-manet-2 , .container-monet-2,.container-gauguin-2, .container-seurat-2{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.manet-2, .monet-2, .gauguin-2, .seurat-2{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    padding-bottom: 50px;
}

.manet-2 h1 , .monet-2 h1, .gauguin-2 h1, .seurat-2 h1{
    padding-bottom: 15px;
    border-bottom: 1px solid #fff
}

.container-manet-2 p, .container-monet-2 p, .container-gauguin-2 p, .container-seurat-2 p{
    color: #fff;
    font-weight: 300;
    font-size: 26px;
    padding-right: 60px;
}

/* section04-manet */
#section04-Manet, #section04-Monet ,#section04-Gauguin, #section04-Seurat{
    height: 982px;
    background-color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: 1px solid #fff;
}

.container-manet-3 , .container-monet-3, .container-gauguin-3 ,.container-seurat-3{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.manet-3, .monet-3, .gauguin-3, .seurat-3{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    padding-bottom: 50px;
}

.manet-3 h1, .monet-3 h1, .gauguin-3 h1, .seurat-3 h1{
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}

.container-manet-3 p ,.container-monet-3 p, .container-gauguin-3 p, .container-seurat-3 p{
    color: #fff;
    font-weight: 300;
    font-size: 26px;
    padding-left: 60px;
}


/* 르누아르,드가,고흐,세잔 css */
#section01-Renoir, #section01-Degas, #section01-Gogh,#section01-Cezanne{
    height: 982px;
    background-color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-Renoir ,.main-degas,.main-gogh,.main-cezanne{
    width: 100%;
    display: flex;
    flex-direction: column;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
}

.main-Renoir p, .main-degas p, .main-gogh p,.main-cezanne p{
    padding-top: 10px;
    padding-bottom: 50px;
    font-size: 19px;
}

.container-Renoir ,.container-degas,.container-gogh,.container-cezanne{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

#section01-Renoir .col p ,#section01-Degas .col p, #section01-Gogh .col p, #section01-Cezanne .col p{
    font-weight: 300;
    font-size: 26px;
    color: #fff;
    padding-left: 60px;
}

/* section02-Renoir */
#section02-Renoir, #section02-Degas, #section02-Gogh, #section02-Cezanne{
    height: 982px;
    background-color: #000;
    outline: 1px solid #fff;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-Renoir-1 ,.container-degas-1,.container-gogh-1,.container-cezanne-1{
    width: 1380px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.Renoir-1, .degas-1,.gogh-1,.cezanne-1{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    padding-bottom: 50px;
}

.Renoir-1 h1, .degas-1 h1,.gogh-1 h1,.cezanne-1 h1{
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}

.container-Renoir-1 p, .container-degas-1 p,.container-gogh-1 p,.container-cezanne-1 p{
    color: #fff;
    font-weight: 300;
    font-size: 26px;
    padding-right: 60px;
}

/* section03-Renoir*/
#section03-Renoir, #section03-Degas ,#section03-Gogh, #section03-Cezanne{
    height: 982px;
    background-color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-Renoir-2 ,.container-degas-2,.container-gogh-2,.container-cezanne-2{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.Renoir-2,.degas-2,.gogh-2,.cezanne-2{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    padding-bottom: 50px;
}

.Renoir-2 h1, .degas-2 h1,.gogh-2 h1,.cezanne-2 h1{
    padding-bottom: 15px;
    border-bottom: 1px solid #fff
}

.container-Renoir-2 p, .container-degas-2 p,.container-gogh-2 p,.container-cezanne-2 p{
    color: #fff;
    font-weight: 300;
    font-size: 26px;
    padding-left: 60px;
}

/* section04-Renoir*/
#section04-Renoir, #section04-Degas, #section04-Gogh, #section04-Cezanne{
    height: 982px;
    background-color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: 1px solid #fff;
}

.container-Renoir-3, .container-degas-3 ,.container-gogh-3,.container-cezanne-3{
    width: 1400px;
    margin: 0 auto;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: space-between;
}

.Renoir-3,.degas-3,.gogh-3,.cezanne-3{
    width: 100%;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    color: #fff;
    font-size: 30px;
    padding-bottom: 50px;
}

.Renoir-3 h1, .degas-3 h1, .gogh-3 h1,.cezanne-3 h1{
    padding-bottom: 15px;
    border-bottom: 1px solid #fff;
}

.container-Renoir-3 p, .container-degas-3 p, .container-gogh-3 p,.container-cezanne-3 p{
    color: #fff;
    font-weight: 300;
    font-size: 26px;
    padding-right: 60px;
}

/* introduce */
#section01-intro{
    height: 982px;
    background-color: #000;
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    outline: 1px solid #fff;
}

.main-intro{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.main-intro h1{
    color: #F9FE00;
    font-size: 32px;
    border-bottom: 1px solid #fff;
    padding-bottom: 10px;
}

.container-intro{
    margin: 0 auto;
    width: 1440px;
    position: relative;
    text-align: center;
    align-items: center;
    justify-content: center;
}

.container-intro p{
    padding-top: 50px;
    color: #fff;
    font-size: 28px;
}


/* footer */
footer{
    width: 100%;
    height: 176px;
    background: #000;
    display: flex;
    text-align: center;
    align-items: center;
}

.footer-container{
    position: relative;
    width: 100%;
    display: flex;
    /* text-align: center; */
    align-items: center;
    justify-content: center;
}

.footer-logo {
    position: absolute;
    left: 30px;
}

.footer-container p{
    display: flex;
    text-align: center;
    align-items: center;
    justify-content: center;
    font-size: 28px;
    color: #fff;
}